.Pelicula {
  width: 500px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.Pelicula > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.Pelicula > section > h2 {
  font-size: 1.5rem;
  min-height: 80px;
  background-color: #f0f0f0;
}
