.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
  transform: translateY(0);
  border: none;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.scroll-up svg {
  width: 40px;
  height: 40px;
  stroke: #fff;
}
